# Ejemplo de variables de entorno
SRI_ENDPOINT_PRUEBAS=https://celcer.sri.gob.ec/comprobantes-electronicos-ws/RecepcionComprobantesOffline?wsdl
SRI_ENDPOINT_PRODUCCION=https://cel.sri.gob.ec/comprobantes-electronicos-ws/RecepcionComprobantesOffline?wsdl
SMTP_HOST=smtp.example.com
SMTP_PORT=587
SMTP_USER=usuario@example.com
SMTP_PASS=contraseña
CERT_PATH=
CERT_PASS=
DB_PATH=./fec_condorcode.db
